@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssPage{
    <link href="~/assets/User/CSS/game.css" rel="stylesheet" />
}

@section slideEndFoo{
    <div class="slide-facebook">
        <div class="slide-facebook_btop">
            <img class="img-on-bot" src="~/assets/User/img/backtop.png" alt="">
        </div>
    </div>
}

<div class="link-url">
    <a href="/trang-chu">Trang chủ</a>
    <span>/</span>
    <a href="/danh-muc-game">Danh mục game</a>
    <span>/</span>
    <a href="#">Game: The Cheems</a>
</div>

<!-- Home-7 -->
<div class="container-home-seven">
    <div class="container-slide-seven">
        <div class="slide-home-seven">
            <div class="game">
                <div class="game_title">
                    <span>Tên game: The Cheems</span>
                    <span style="color:red;">Bản thử nghiệm</span>
                </div>
                <div class="game_body">
                    <iframe frameborder="0" src="https://itch.io/embed-upload/7973452?color=333333" allowfullscreen="" width="1000" height="700">
                        <a href="https://thong21112001.itch.io/the-cheem">Play The Cheem on itch.io</a>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>




