@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssPage{
    <link href="~/assets/User/CSS/listgame1.css" rel="stylesheet" />
}

@section slideEndFoo{
    <div class="slide-facebook">
        <div class="slide-facebook_btop">
            <img class="img-on-bot" src="~/assets/User/img/backtop.png" alt="">
        </div>
    </div>
}

<div class="link-url">
    <a href="/trang-chu">Trang chủ</a>
    <span>/</span>
    <a href="#">Danh mục game</a>
</div>

<!-- Home-7 -->
<div class="container-home-seven">
    <div class="container-slide-seven">
        <div class="slide-home-seven">
            <div class="content-slide-seven">
                <div class="img-slide-seven">
                    <a href="/danh-muc-game/the-cheems">
                        <img src="~/assets/User/img/logoGame.png" />
                    </a>
                </div>
                <div class="content-seven">
                    <p class="days-seven">15/05/2023</p>
                    <a href="/danh-muc-game/the-cheems"><h2 class="name-seven">The Cheems</h2></a>
                    <h3 class="title-seven">
                        Game đang phát triển tại cộng đồng BDC25
                    </h3>
                    <p class="version">Bản thử nghiệm</p>
                </div>
            </div>

            <div class="content-slide-seven">
                <div class="img-slide-seven">
                    <a href="/danh-muc-game/shipper">
                        <img src="~/assets/User/img/logoGame.png" />
                    </a>
                </div>
                <div class="content-seven">
                    <p class="days-seven">15/05/2023</p>
                    <a href="/danh-muc-game/shipper"><h2 class="name-seven">Shipper</h2></a>
                    <h3 class="title-seven">
                        Game đang phát triển tại cộng đồng BDC25
                    </h3>
                    <p class="version">Bản thử nghiệm</p>
                </div>
            </div>
        </div>
    </div>
</div>




