<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">BDC25-ADMIN</div>
    </a>

    <!-- Home-->
    <!-- Divider - Thanh ngăn-->
    @*<hr class="sidebar-divider my-0">*@

    <!-- Nav Item - Dashboard -->
    @*<li class="nav-item">
        <a class="nav-link" href="/Home/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>TRANG CHỦ</span>
        </a>
    </li>*@

    <!-- Quản lý danh mục và bài viết của admin-->
    <!-- Divider - Thanh ngăn-->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        QUẢN LÝ BÀI CỦA ADMIN
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/CategoryNews/Index">
            <i class="fas fa-fw fa-cog"></i>
            <span>QUẢN LÝ DANH MỤC</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/News/Index">
            <i class="fas fa-fw fa-wrench"></i>
            <span>QUẢN LÝ BÀI VIẾT</span>
        </a>
    </li>

    <!-- Quản lý các tag cộng đồng-->
    <!-- Divider - Thanh ngăn-->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        QUẢN LÝ CỘNG ĐỒNG
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Tag/Index">
            <i class="fas fa-fw fa-cog"></i>
            <span>QUẢN LÝ TAG</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Community/Index">
            <i class="fas fa-fw fa-wrench"></i>
            <span>QUẢN LÝ BÀI VIẾT USER</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/User/Index">
            <i class="fas fa-fw fa-wrench"></i>
            <span>QUẢN LÝ USER</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Report/Index">
            <i class="fas fa-fw fa-wrench"></i>
            <span>QUẢN LÝ BÌNH LUẬN</span>
        </a>
    </li>

    <!-- Quản lý các ủng hộ-->
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        QUẢN LÝ ỦNG HỘ
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Donate/Index">
            <i class="fas fa-fw fa-wrench"></i>
            <span>QUẢN LÝ ỦNG HỘ</span>
        </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
