@model BDC25.Models.LoginModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="~/assets/User/CSS/login.css">
</head>

<body>
    <div class="container-login">
        <div class="login">
            <div>
                <img class="imgLogin" src="~/assets/User/img/pét.jpg" />
            </div>
            <div class="login-Input">
                <div class="Input">
                    <h2>Chào mừng đến với cộng đồng BDC25</h2>
                    @using (Html.BeginForm("LoginUser", "Login", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <form class="user">
                            <div class="form-group">
                                <p class="mb-4">
                                    @Html.TextBoxFor(Model => Model.UserName, new { @class = "form-control input-email", @autofocus = "autofocus", @placeholder = "Tài khoản" })
                                </p>
                            </div>

                            <div class="form-group">
                                <p class="mb-4">
                                    @Html.PasswordFor(Model => Model.PassWord, new { @class = "form-control input-password", @placeholder = "Mật khẩu" })
                                </p>
                            </div>

                            <button type="submit" class="btn-login">
                                Đăng nhập
                            </button>
                        </form>
                    }
                </div>
                <div class="account">
                    <a href="/quen-mat-khau">Quên mật khẩu ?</a>
                    <a href="/dang-ky">Tạo tài khoản !</a>
                    <a href="/Admin/Login/Login">Đăng nhập với Admin !!!</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/User/JS/login.js"></script>
</body>

</html>